
{% extends 'base.html'%}


        {% block content %}


<h1>
    {{ book_entry.title }}
</h1>

    <h3>

        <h4>
            Added to list on {{ book_entry.date_added }}
        </h4>

        {% if book_entry.date_started %}
        <h4>
            Started on {{ book_entry.date_started }}
        </h4>
        {% endif %}

        {% if book_entry.date_finished %}
        <h4>
            Finished on {{ book_entry.date_finished }}
        </h4>
        {% endif %}
    </h3>
<h3>
    by - {{ book_entry.author }}

    <br />
    <br />

    <img src="{{ cover }}" >

    <br />
</h3>
        {% endblock %}
