{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


    {% block content %}

        <h1>Schuyler's Book Log</h1>

        {% if list_of_entries %}
            <ul>
            {% for entry in list_of_entries %}
            <a href="{% url 'booklist:detail' entry.id %}">{{ entry.title }} - {{ entry.author }} : {{ entry.date_added }}</a>
            <br / >
            {% endfor %}
            </ul>
        {% else %}
            <p>No entries are available.</p>
        {% endif %}

    </body>

    {% endblock %}

</html>
